.btn {
    font: inherit;
    color: white;
    background-color: #4f005f;
    border: 1px solid #4f005f;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  .btn:hover,
  btn:active {
    background-color: #741188;
    border-color: #741188;
  }
  .btn:focus {
    outline: none;
  }